@model PagedList.IPagedList<EnergyConsumptionRationing.Models.ReleaseProducts>
    @using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("/Content/PageList.css")" rel = "stylesheet" type = "text/css"/>

<h2>Произведено продукции</h2>

@using (Html.BeginForm("Index", "ReleaseProducts", FormMethod.Get))
{
    <fieldset>
        <h3 style="font-size:14px">Поиск по наименованию продукции:</h3>&nbsp;@Html.TextBox("SearchOne", "")
        <input type="submit" value="Поиск"/>
        &ensp;
        <h3 style="font-size:14px">Поиск по названию организации:</h3>&nbsp;@Html.TextBox("SearchTwo", "")
        <input type="submit" value="Поиск" />
</fieldset>
}

<br/>
<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table-bordered" cellpadding="5" width="100%" align="center" style="font-size:14px">
    <tr>
        <th> Код </th>
        <th> Наименование продукции </th>
        <th> Всего произведено </th>
        <th> Год </th>
        <th> Квартал </th>
        <th> Название организации </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><p>@Html.DisplayFor(modelItem => item.ReleaseID)</p></td>
            <td><p>@Html.DisplayFor(modelItem => item.TypesProduction.ProductionName)</p></td>
            <td><p>@Html.DisplayFor(modelItem => item.TotalRelease)</p></td>
            <td><p>@Html.DisplayFor(modelItem => item.Year)</p></td>
            <td><p>@Html.DisplayFor(modelItem => item.Quarter)</p></td>
            <td><p>@Html.DisplayFor(modelItem => item.Organization.OrganizationName)</p></td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ReleaseID }) |
                @Html.ActionLink("Детали", "Details", new { id = item.ReleaseID}) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ReleaseID })
            </td>
        </tr>
    }
</table>

<div style="text-align: center;">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>