<!DOCYMENT html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-wigth, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background:url(/fonts/font.jpg); color:black">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;">
        <div class="container">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("Продукция", "Index", "TypesProductions")</li>
                    <li>@Html.ActionLink("Организации", "Index", "Organizations")</li>
                    <li>@Html.ActionLink("Произведено продукции", "Index", "ReleaseProducts")</li>
                    <li>@Html.ActionLink("Потреблено теплоэнергии на выпуск продукции", "Index", "ConsumedReleases")</li>
                    <li>@Html.ActionLink("Нормы расхода теплоэнергии", "Index", "StandartExpenses")</li>
                 </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
